/*CSS RESET*/

* {
  /* border: 1px red solid;*/ /*set before and after creating site*/
  max-width: 100%; /*keeps from side scrolling*/
  box-sizing: border-box; /*Fixes sizing when using padding*/
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/*GENERAL CSS STYLES*/

html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.945);
}
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #4f4f4f;
}

/*PAGE CSS STYLES*/
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
}

header div {
  width: 50%;
}

header div p {
  margin: 10px;
}

header div img {
  margin: 10px;
}

header div a {
  margin: 10px;
  background-color: blue;
  color: white;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.left-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

main img {
  width: 400px;
  margin: 100px 0 50px;
}

main a {
  margin: 10px 10px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  padding: 10px;
  text-align: center;
  /* border: white 2px solid; */
  color: white;
  background-color: rgb(53, 53, 53);
}

.search-bar {
  width: 600px;
  height: 45px;
  border-radius: 25px;
  background-color: white;
  border: 1px black solid;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
  text-align: center;
}

footer {
  display: flex;
  background-color: black;
}

footer div {
  width: 50%;
}

.bottom-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.bottom-center p img {
  width: 15px;
  margin-right: 5px;
}

.bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.bottom-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

footer div p {
  margin: 20px;
}
